# Comprehensions

## Comprehension yapısı içinde tek bir if bloğu kullanıyorsak yani else ile birlikte kullanmıyorsak if yapısı en sağda(köşede) yazılır. Ama else ile birlikte kullanıyorsak for bloğu en sağda kalır if else onun önüne yazılır.

## List Comprehensions

In [11]:
salaries = [1000, 2000, 3000, 4000, 5000]

[salary * 2 for salary in salaries]

[2000, 4000, 6000, 8000, 10000]

In [12]:
[salary * 2 for salary in salaries if salary < 3000]

[2000, 4000]

In [1]:
students = ["John","Mark","Venessa","Mariam"]
student_no = ["John","Venessa"]

[student.lower() if student in student_no else student.upper() for student in students]

['john', 'MARK', 'venessa', 'MARIAM']

In [8]:
salaries = [1000, 2000, 3000, 4000, 5000]

def new_salary(x):
    return x * 20 / 100 + x

null_list = [] 

for salary in salaries:
    if salary > 3000:
        null_list.append(new_salary(salary))
    else:
        null_list.append(new_salary(salary * 2))
        
null_list

[2400.0, 4800.0, 7200.0, 4800.0, 6000.0]

In [13]:
#with list comprehension
[new_salary(salary * 2) if salary < 3000 else new_salary(salary) for salary in salaries]

[2400.0, 4800.0, 3600.0, 4800.0, 6000.0]

## Dict Comprehensions

In [15]:
dictionary = {'a' : 1,
              'b' : 2,
              'c' : 3,
              'd' : 4}

{k : v ** 2 for (k,v) in dictionary.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [16]:
{k.upper() : v for (k,v) in dictionary.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [17]:
{k.upper() : v **2 for (k,v) in dictionary.items()}

{'A': 1, 'B': 4, 'C': 9, 'D': 16}

ÖRNEK : Mülakat Sorusu 

Amaç : Verilen bir listedeki çift sayıların karesi alınarak bir sözlüğe eklenmelidir.

In [18]:
numbers = range(10)

#{sayı : sayı **2 for sayı in liste if sayı % 2 == 0}
{n : n **2 for n in numbers if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

Comprehension kullanmadan yapsaydık bu şekilde olurdu:

numbers = range(10)
new_dict = {}
for n in numbers:
    if n % == 0:
        new_dict[n] = n ** 2