In [1]:
for x in range(1,51):
    if x%3 == 0 and x%5 ==0:
        print("FizzBuzz")
    elif x%3 ==0:
        print("Fizz")
    elif x%5 ==0:
        print("Buzz")
    else:
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [3]:
a =[1,2,3,4,5]
a.extend([6,7,8])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
lst=["a","b","c","d"]
lst.append("e")
print(lst)

['a', 'b', 'c', 'd', 'e']

In [7]:
lst=[1,2,3,4,5,6]
a=[x+1 for x in lst]
print(a)

[2, 3, 4, 5, 6, 7]

In [8]:
nums=[1,2,3,4,5,6]
b=[x*3 for x in nums]
print(b)

[3, 6, 9, 12, 15, 18]

In [9]:
lst=[1,2,3,4,5,6,7,8,9]
a=[i for i in lst if i%2==0]
print(a)

[2, 4, 6, 8]

In [10]:
b=[x for x in lst if x<6]
print(b)

[1, 2, 3, 4, 5]

In [11]:
nums=[1,2,3,4,5]
nums_rev=[5,4,3,2,1]
com=[(x,y) for x in nums for y in nums_rev]
print(com)

[(1, 5), (1, 4), (1, 3), (1, 2), (1, 1), (2, 5), (2, 4), (2, 3), (2, 2), (2, 1), (3, 5), (3, 4), (3, 3), (3, 2), (3, 1), (4, 5), (4, 4), (4, 3), (4, 2), (4, 1), (5, 5), (5, 4), (5, 3), (5, 2), (5, 1)]

In [12]:
for i in range(8):
    print("Hello"*i)

Hello
HelloHello
HelloHelloHello
HelloHelloHelloHello
HelloHelloHelloHelloHello
HelloHelloHelloHelloHelloHello
HelloHelloHelloHelloHelloHelloHello

In [13]:
my_list=["a","b","c","d"]

for i in range(len(my_list)):
    print(my_list[i])

a
b
c
d

In [14]:
for i in range(2,len(my_list)):
    print(my_list[i])

c
d

In [15]:
for i in range(2,9):
    print("*"*i)

**
***
****
*****
******
*******
********

In [16]:
word = "Hellooo"
for char in word.upper():
    print(char)

H
E
L
L
O
O
O

In [17]:
my_dict={"a":1, "b":2, "c":3, "d":4}
for value in my_dict.values():
    print(value)

1
2
3
4

In [18]:
dicts={"name":"Burcu", "surname":"Arslan", "age":21}

for key,value in dicts.items():
    print(key,value)

name Burcu
surname Arslan
age 21

In [19]:
for pair in dicts.items():
    print(pair)

('name', 'Burcu')
('surname', 'Arslan')
('age', 21)

In [23]:
lst=[1,2,3,4,5,6]
for i in lst:
    if i%2 ==0:
        print("continue")
        continue
    else:
        print("Odd:",i)

Odd: 1
continue
Odd: 3
continue
Odd: 5
continue

In [24]:
def factorial(n):
    if n==0 or n==1:
        return 1 
    else:
        return n*factorial(n-1)
    
factorial(5)

120

In [25]:
factorial(2)

2

In [26]:
factorial(3)

6

In [27]:
def fibonacci(n):
    if n==0 or n==1:
        return n 
    else:
        return fibonacci(n-1) + fibonacci(n-2)
    
fibonacci(2)

1

In [28]:
fibonacci(3)

2

In [29]:
fibonacci(4)

3

In [30]:
def find_power(a,b):
    if b==0:
        return 1
    else:
        return a*find_power(a,b-1)

find_power(3,2)

9

In [1]:
comb1=[(x,y) for x in [1,2,3] for y in [4,3,1] if x!=y]

In [2]:
comb1

[(1, 4), (1, 3), (2, 4), (2, 3), (2, 1), (3, 4), (3, 1)]

In [3]:
comb2=[]
for x in [1,2,3,4,5]:
    for y in [5,6,7,3,2,1]:
        if x!=y:
            comb2.append((x,y))

In [4]:
comb2

[(1, 5),
 (1, 6),
 (1, 7),
 (1, 3),
 (1, 2),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 3),
 (2, 1),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 2),
 (3, 1),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 3),
 (4, 2),
 (4, 1),
 (5, 6),
 (5, 7),
 (5, 3),
 (5, 2),
 (5, 1)]

In [5]:
basket=["apple","banane","pineapple","strawberry"]
list(sorted(basket))

['apple', 'banane', 'pineapple', 'strawberry']

In [6]:
basket=["apple","banane","pineapple","strawberry"]
for i in sorted(basket):
    print(i)

apple
banane
pineapple
strawberry

In [8]:
dic={"x":list(range(11,21)),"y":list(range(21,31)),"z":list(range(31,40))}
a=[]
b=[]
c=[]
for num in dic["x"]:
    if num == dic["x"][4]:
        a.append(num)
        
for num in dic["y"]:
    if num == dic["y"][4]:
        b.append(num)
        
for num in dic["z"]:
    if num == dic["z"][4]:
        c.append(num)
        
print(a)
print(b)
print(c)

[15]
[25]
[35]

In [9]:
l=[]

x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
z=int(input("Enter a number:"))

l.extend((x,y,z))
l.sort()
print("Your sorted list is:",l)

Enter a number: 65
Enter a number: 54
Enter a number:43
Your sorted list is: [43, 54, 65]

In [12]:
import random

In [14]:

rand=random.randint(1,100)
sayaç=0

while True:
    sayaç+=1
    sayı=int(input("1 ile 100 arasında değer giriniz: "))
    if sayı==0:
        print("Oyunu iptal ettiniz.")
        break
    elif sayı < rand:
        print("Daha yüksek bir sayı giriniz: ")
        continue
    elif sayı > rand:
        print("Daha küçük bir sayı giriniz: ")
        continue
    else:
        print("Rastgele girilen sayı {}!".format(rand))
        print("Tahmin sayınız: {}".format(sayaç))

1 ile 100 arasında değer giriniz: 36
Daha yüksek bir sayı giriniz:
1 ile 100 arasında değer giriniz: 46
Daha yüksek bir sayı giriniz:
1 ile 100 arasında değer giriniz: 54
Daha yüksek bir sayı giriniz:
1 ile 100 arasında değer giriniz: 78
Daha küçük bir sayı giriniz:
1 ile 100 arasında değer giriniz: 67
Daha yüksek bir sayı giriniz:
1 ile 100 arasında değer giriniz: 68
Daha yüksek bir sayı giriniz:
1 ile 100 arasında değer giriniz: 70
Daha yüksek bir sayı giriniz:
1 ile 100 arasında değer giriniz: 73
Daha küçük bir sayı giriniz:
1 ile 100 arasında değer giriniz: 72
Rastgele girilen sayı 72!
Tahmin sayınız: 9
1 ile 100 arasında değer giriniz: 0
Oyunu iptal ettiniz.

In [15]:
age=int(input("Enter the age: "))
gender=input("Enter the gender: ")
if age < 18:
    if gender == "M":
        print("Son")
    else:
        print("Daughter")
elif 18 <= age < 65:
    if gender == "M":
        print("Father")
    else:
        print("Mother")
else:
    if gender == "M":
        print("Grandfather")
    else:
        print("Grandmother")

Enter the age: 21
Enter the gender: F
Mother

In [17]:
x=isinstance(5,int)
print(x)

True

In [1]:
def getSum(n):
    sum = 0
    for digit in str(n):
        sum += int(digit)
    return sum

In [2]:
n = 12345
print(getSum(n))

15

In [3]:
getSum(5467589)

44